.navbar {
  background-color: #333;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarBrand {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.navbarLogo {
  height: 30px;
  margin-right: 10px;
}

.navbarNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navItem {
  margin-right: 10px;
}

.navLink {
  color: white;
  text-decoration: none;
}

/* Active link style */
.navItem.active .navLink {
  font-weight: bold;
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #555;
}